mylogo {
    background-color: #1c1b1a;
    color: #1E1E1E;
    color: #f4c542;
    color: #d8b77b;
    color: #FFD580;
    color: #3E3E3E;
    color: #FFAE42;
}

color1 {
    color: #2B2B2B;
    color: #FFC857;
    color: #FFEB99;
    color: #E1E1E1;
    color: #D4A373;
    color: #FF6F61
}

color2 {
    color: #323232;
    color: #FFCF70;
    color: #E2A45F;
    color: #FFF1C1;
    color: #BC8A4F;
    color: #FEFEFE;
}

background {
    color: #F4EDE3;
    color: #C3B0D5;
    color: #F2E6D9;
    color: #EAD1C4;
}